body{
  font-family: 'Poppins';
  text-align: center;
}

p{
  font-size: 1vw;
  color: hsl(228, 45%, 44%);
}

/* Main Container */
.introduction-container{
  margin: 5% 25%;
  width:50%

}
.introduction-text-1{
  font-size: 2.8vw;
  font-weight: 200;
  color: hsl(234, 12%, 34%)
}
.introduction-text-2{
  font-size: 3vw;
  font-weight:600;
}

/* Card Container */
.left-container{
  display:inline-block;
  width: 25vw;
  height:30vw;
  margin-right:30%;
}
.right-container{
  display:inline-block;
  width: 25vw;
  height:30vw;
}
.middle-container{
  position: absolute;
  display:inline-block;
  width: 25vw;
  right:37%;
}

.card{
  text-align: left;
  height: 18vw;
  border-top-width: medium;
  border-radius: 2%;
  padding: 10px 10px 10px 20px;
  box-shadow: 5px 10px 18px #888888;
  overflow: hidden;
  font-size: 2vw;
}



#card-supervisor{
  border-top-color: hsl(180, 62%, 55%);
  margin-top:5vw;

}

#card-teambuilder{
  border-top-color: hsl(0, 78%, 62%);
  margin-bottom: 10%;
  text-align: left:

}

#card-karma{
  border-top-color: hsl(34, 97%, 64%);
  text-align: left:
}

#card-calculator{
  border-top-color: hsl(212, 86%, 64%);
  margin-top:30%;
  text-align: left:

}

.icon{
  margin-left: 15vw;
  margin-top: 3vw;
  width: 3vw;
}

@media (min-width: 1100px){
  .card{
    height: 20vw;
  }
  .icon{
    margin-top: 5px;
  }
}

/* Attribution */
.attribution{
  font-size: 11px;
  text-align: center;
  margin-top: 22%;

}
.attribution a {
  color: hsl(228, 45%, 44%);
}
